@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");

:root {
  --font-family: "Sen", sans-serif;

  --color-bg: #1e1e1e;
  --color-footer: #1e2446;
  --color-text: #fff;
  --color-subtext: #9b9da8;
}
